body {
    justify-content: center;
    display:flex;
}

.container {
    text-align: center;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.log {
    text-align: left;
}

button {
    margin: 5px;
    background-color: #ADD8E6;
}
